.App {
  font-family: sans-serif;
  text-align: center;
}

.App-header {
  background-color: #547688;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header div {
  background-color: #89A4AB;
  height: 7.5vh;
  max-width: fit-content;
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0.05vh 0.05vh 0.6vh black;
  padding: 1.5vh;
}

.App-body {
  background-color: #E5A960;
  min-height: 75vh;
}

.App-footer {
  background-color: #547688;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

.App-link {
  color: #61dafb;
}