table {
  border-spacing: 0;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

td {
  width: 15vh;
  height: 10vh;
}

button {
  font-family: sans-serif;
  background-color: #89A4AB;
  color: black;
  width: 100%;
  height: 100%;
  border-radius: 0%;
  border: none;
  font-size: large;
  box-shadow: 0.05vh 0.05vh 0.5vh black;
}

button:active {
  background-color: #E9C08A;
  box-shadow: 0.5vh 0.5vh gray;
  transform: translateY(0.15vh);
}