th {
  width: 60vh;
  height: 10vh;
}

th div {
  background-color: #89A4AB;
  height: 100%;
  width: 100%;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0.05vh 0.05vh 0.5vh black;
}